<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RazorFun</title>
</head>
<body>
    @{
        string[] arr = {"I","Like","Coding.","Coding","Is","Fun.","Coders", "Need", "Coffee."};
        foreach (string str in arr)
        {
            <p>@str</p>
        }
    }
</body>
</html>