<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <form action="survey" method="POST">
        Your Name: <input type="text" name="name"><br>
        Dojo Location: <input type="text" name="location"><br>
        Faveorite Langwage: <input type="text" name="language"><br>
        Comment: <textarea rows="5" cols="10" name="comment"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>